body{
    margin: 0;
text-align: center;
padding-top: 800px;
}
#profile{
    width: 450px;
    border-radius: 25px;
    margin-bottom: 50px;
}
#home{
    position: absolute;
    height: 800px;
    color: crimson;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background: linear-gradient(#c034eb 0%, #3492eb 100%);
    display:table;
    width: 100%;
    height: 100%;
    z-index: 24;
}
.maindiv{
display: table-cell;
position: relative;
text-align: center;
vertical-align: middle;
    
}
#bio{
    padding: 50px;
    text-align: center;
}
.line{
    height: 6px;
    background-color: black;
    width: 75px;
    margin: 8px auto;
}
p{
    max-width: 450px;
    margin: 25px auto;
    line-height: 2.0;
    
}
.menu{
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 49;
}
.links{
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 5px;
}
html{
    scroll-behavior: smooth;
}
a:hover{
    font-size: 30px;
    
}
